body {
    font-size: var(--font-size-400);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    background-color: var(--magnolia);
}

input,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    height: 100vh;
}

@supports(height: 100dvh) {
    main {
        height: 100dvh;
    }
}

.flex-row {
    display: flex;
}

.flex-row-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.hide-input {
    appearance: none;
    position: absolute;
}

.input-border {
    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius-soft);
}