:root {

    /* Colors */

    /* Primary */

    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /* Neutral */

    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);

    /* Typography */
    --font-size-400: 16px;
    --font-size-600: 20px;
    --font-size-800: 32px;

    --font-family: "Ubuntu", sans-serif;

    --font-weight-normal: 400;
    --font-weight-bold: 500;
    --font-weight-bolder: 700;

    --line-height-heading: 1.1;
    --line-height-base: 1.5;


    /* Spacing */
    --spacing-100: 0.25rem;
    --spacing-200: 0.5rem;
    --spacing-300: 0.75rem;
    --spacing-400: 1rem;
    --spacing-500: 1.25rem;
    --spacing-600: 1.5rem;
    --spacing-700: 1.75rem;
    --spacing-800: 2rem;
    --spacing-900: 3rem;
    --spacing-1000: 4rem;
    --spacing-1100: 5rem;
    --spacing-form: -4rem;

    /* Other */
    --border-radius-5: 5px;
    --border-radius-10: 10px;

    --box-shadow: 2px 2px 4px rgba(0 0 0 / 0.1);
    --box-shadow-card: 1px 1px 8px rgba(0 0 0 / 0.05);





    /* Layout - The designs were created to the following widths:

        - Mobile: 375px
        - Desktop: 1440px */

}